Repository blip-box/sluggi, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, agent, playground, enhancement, documentation, question, ci

ci: add package build, PyPI publishing and Sigstore signing to release workflow
  .github/workflows/release.yml
Labels: ci

ci: add package build, PyPI publishing and Sigstore signing to release workflow (#4)
  .github/workflows/release.yml
Labels: ci

fix: add github-token to github-script step in issue-triage workflow
  .github/workflows/issue-triage.yml
Labels: ci

fix: upload GitHub Pages artifact after docs build for deploy-pages action
  .github/workflows/deploy-docs.yml
Labels: ci

fix: add explicit permissions and clean up artifact upload in benchmark workflow
  .github/workflows/benchmark.yml
Labels: ci

fix: add github-token to github-script step in issue-triage workflow (#6)
  .github/workflows/issue-triage.yml
Labels: ci

fix: upload GitHub Pages artifact after docs build for deploy-pages action (#7)
  .github/workflows/deploy-docs.yml
Labels: ci

fix: add explicit permissions and clean up artifact upload in benchmark workflow (#8)
  .github/workflows/benchmark.yml
Labels: ci

fix: update deploy-docs workflow permissions and add artifact upload for GitHub Pages
  .github/workflows/deploy-docs.yml
Labels: ci

fix: update deploy-docs workflow permissions and add artifact upload for GitHub Pages (#9)
  .github/workflows/deploy-docs.yml
Labels: ci

fix: add explicit permissions for issues and contents in issue-triage workflow
  .github/workflows/issue-triage.yml
Labels: ci

chore: remove empty line from deploy-docs workflow
  .github/workflows/deploy-docs.yml
Labels: ci

chore: add required python dependencies for docs deployment workflow
  .github/workflows/deploy-docs.yml
Labels: ci

Fix/issue triage permissions (#10)
  .github/workflows/deploy-docs.yml
  .github/workflows/issue-triage.yml
Labels: ci

chore: remove trailing whitespace from deploy-docs.yml (pre-commit)
  .github/workflows/deploy-docs.yml
Labels: ci

chore: remove trailing whitespace from deploy-docs.yml (pre-commit) (#11)
  .github/workflows/deploy-docs.yml
Labels: ci

docs: reformat API Reference section in README with tables and examples
  .github/workflows/deploy-docs.yml
  README.md
Labels: documentation, ci

docs: reformat API Reference section in README with tables and examples (#12)
  README.md
Labels: documentation

docs: update CI badge URL and label in README
  docs/docs/index.md
Labels: documentation

docs: update CI badge URL and label in README (#13)
  docs/docs/index.md
Labels: documentation

.github/labeler.yml:

# Labeler configuration for github/labeler action
# See: https://github.com/actions/labeler

bug:
  - '**/bug_report.md'
  - '**/bug*'

agent:
  - '**/quick-issue.md'
  - '**/agent*'
  # Label for agent-generated issues/PRs

playground:
  - '**/playground*'
  - '**/playground.yml'
  # Label for experimental or agent-driven playground runs

enhancement:
  - '**/feature_request.md'
  - '**/feature*'

documentation:
  - '**/doc_request.md'
  - '**/docs/**'
  - '**/*.md'

question:
  - '**/question.md'
  - '**/question*'

ci:
  - '.github/workflows/**'

# Removed release label mapping as release.yml is gone.
